---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Sergio Carrascal" description="About Sergio Carrascal">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Biologist illustration"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>Biologist with experience in laboratory environments, specialized in microbiology and molecular biology. I have worked with advanced techniques such as microorganism culture, qPCR, and viral synergy analysis, in addition to contributing to research projects in bioassays and greenhouse management.</p>

					<br>
					
					<p>Throughout my career, I have developed key skills in applying rigorous scientific methodologies and complying with quality standards such as Good Manufacturing Practices (GMP). I am proactive in problem-solving and have a strong commitment to accuracy and traceability of experimental results.</p>
					
					<br>
					
					<p>Although I work effectively independently in data analysis and experiment management, I prefer collaborative environments that encourage knowledge exchange and teamwork. Currently, I am complementing my work experience with a master's degree in bioinformatics, enhancing my competencies in data analysis and computational tools.</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li><strong>2024 - Present</strong>: Master's in Bioinformatics. International University of Valencia.</li>
						<li><strong>2024 - Present</strong>: Specialization Diploma in Bioinformatics and Computational Genomics. University of Salamanca.</li>
						<li><strong>2021</strong>: Full-Stack Software Development. 4Geeks Academy.</li>
						<li><strong>2021 - Present</strong>: Bachelor's in Philosophy. National University of Distance Education.</li>
						<li><strong>2018</strong>: Bachelor's in Biology. University of Salamanca.</li>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						HTML | CSS | SASS | Bootstrap | JavaScript | React | Flux | Hooks | Webpack | API REST | Python | Flask | JWT |
						MySQL | SQLAlchemy | PostgreSQL | Git | GitKraken | Postman | Heroku | Jira | Scrum | Ubuntu | Fedora | Vagrant | Odoo
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
